<header class="masthead header-image">
  <div class="container">
      <div class="intro-text">

          <div class="intro-heading text-uppercase" style="color:rgba(255, 166, 0)"><span><b>Coupon Wala</b></span></div>
          <div class="intro-lead-in" style="color:rgb(255, 166, 0)"><span><i>Have a DEAL on your mind let's make it true!</i></span></div><br><br><br>
        </div>
  </div>
</header>
<section id="services" style="background-color:#C6AD8F ;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading" style="color: #425664" >Services</h2>
              <h3 class="text-muted section-subheading" style="color: #425664">We offer</h3>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-muted"></i><i class="fa fa-certificate fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Best Deals</h4>
              <p class="text-muted">Tired of searching for low-cost coupon deals? <br>chill we're here to help you up!<br><br></p>
          </div>
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-muted"></i><i class="fa fa-eercast fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Free Coupons<br></h4>
              <p class="text-muted">Don’t pay attention to those who offer too much.</p>
          </div>
          <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-muted"></i><i class="fa fa-gittip fa-stack-1x fa-inverse"></i></span>
              <h4 class="section-heading">Good Reviews</h4>
              <p class="text-muted">“Feedback is a gift. Ideas are the currency of our next success. Let<br>people see you value both feedback and ideas.”</p>
          </div>
      </div>
  </div>
</section>
<section id="portfolio" style="padding: 96px 0px; background-color: #C6AD8F;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" style="color: #425664;">Sponsors</h2>
              <h3 class="text-muted section-subheading"></h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">Amazon</div>
                  </div><img class="img-fluid" src="https://wallpapercave.com/wp/wp7771157.jpg">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Flipkart</div>
                  </div><img class="img-fluid" src="https://www.freepnglogos.com/uploads/flipkart-logo-png/flipkart-logo-transparent-vector-3.png">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Myntra</div>
                  </div><img class="img-fluid" src="https://wallpaperaccess.com/full/7118435.jpg">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal4" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Ajio</div>
                  </div><img class="img-fluid" src="https://1000logos.net/wp-content/uploads/2020/07/Ajio-Logo1-640x360.jpg">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal5" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Zomato</div>
                  </div><img class="img-fluid" src="https://camo.githubusercontent.com/5d34348ce6906feb270f432125f482c39dea48d282d1a133b33d8630596d872e/68747470733a2f2f6d69722d73332d63646e2d63662e626568616e63652e6e65742f70726f6a6563745f6d6f64756c65732f66732f33383865636137323931343833352e356266373931373739383665342e6a7067" style="padding: 30px;">
              </a>

          </div>
          <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal6" data-bs-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">Swiggy</div>
                  </div><img class="img-fluid" src="https://i.pinimg.com/originals/54/b1/7e/54b17e6c6aebb44f5fc3621af5a11033.png">
              </a>

          </div>
      </div>
  </div>
</section>
<section id="about" style="margin-bottom: -146px; background-color: #C6AD8F;">
  <header class="masthead" style="background: url(&quot;./assets/img/about-bg.jpg&quot;);margin: 0px 0px 50px;">
      <div class="overlay"></div>
      <div class="container" data-bss-hover-animate="bounce" style="height: 300.149px;margin-bottom: -42px;">
          <div class="row" style="margin: -134px;">
              <div class="col-md-10 col-lg-8 mx-auto position-relative" style="margin-bottom: 50px;margin-top: 0px;">
                  <div class="site-heading" style="margin-top: 135px;">
                      <h1 data-bss-hover-animate="pulse" style="color: #425664;font-size: 50px;">About Me</h1>
                  </div>
              </div>
          </div>
      </div>
  </header>
</section>
<section id="team" style="background-color: #ffffff;">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="team-member">
                  <h4>Varun Maheshwari</h4>
                  <p class="text-muted ">Trainee</p>
                  <p class="text-muted">Exploring ways to enhance my  knowledge gained at Capgemini during 3 months training.
                    Waiting for a starting opportunity to utilise my skills and take the organisation forward.<br></p>
                  
              </div>
          </div>
      </div>
  </div>
</section>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">amazon</h2>
                            <p class="text-muted item-intro"><strong>Kya Nahi Milega! Amazon hai, Apna
                                    Dukaan</strong><br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image"
                                            src="https://static.businessworld.in/article/article_extra_large_image/1597056012_CNRvas_amazon_dkblue_noto_email_v2016_us_main_CB468775337_.png">
                                    </div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://www.adweek.com/wp-content/uploads/2019/07/back-school-amazon-CONTENT-2019.jpg"
                                            alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://timesofindia.indiatimes.com/photo/86699690.cms"
                                            alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-1" role="button"
                                        data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                        href="#carousel-1" role="button" data-bs-slide="next"><span
                                            class="carousel-control-next-icon"></span><span
                                            class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Amazon, is an American electronic commerce and cloud computing company with headquarters
                                in Seattle, Washington. It is the largest Internet-based retailer in the world by total
                                sales and market capitalization.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Amazon Website</li>
                                <li><a href="https://www.amazon.in/" target="_blank"><button class="btn btn-primary"
                                            type="button" style="border-radius: 59px;">Amazon</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal"
                                style="border-radius: 8px;"><i
                                    class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">flipkart</h2>
                            <p class="text-muted item-intro"><strong>If it’s trendy, it’s on Flipkart</strong><br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-2">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image"
                                            src="https://www.logotaglines.com/wp-content/uploads/2016/08/flipkart-new-logo.bmp">
                                    </div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://img.theweek.in/content/dam/week/news/biz-tech/images/2019/7/3/flipkart.jpg"
                                            alt="Slide Image">
                                    </div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://www.shopickr.com/wp-content/uploads/2016/04/flipkart-india-offers-zone-deals-of-the-day-best-discounts-offers-coupons-banner.jpg"
                                            alt="Slide Image">
                                    </div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-2" role="button"
                                        data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                        href="#carousel-2" role="button" data-bs-slide="next"><span
                                            class="carousel-control-next-icon"></span><span
                                            class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Flipkart is an e-commerce company founded in 2007 by Sachin Bansal and Binny
                                Bansal.&nbsp;<strong>This Indian e-commerce store has brought a revolution in the Indian
                                    e-retail industry</strong>. Youth and adults rely on the internet to buy stuff at
                                affordable prices with amazing return policies and guarantee. One such e-commerce
                                platform that is tremendously successful is&nbsp;<strong>Flipkart</strong>.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Flipkart Website<br></li>
                                <li><a target="_blank" href="https://www.flipkart.com/"><button class="btn btn-primary"
                                            type="button" style="border-radius: 59px;">Flipkart</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal3">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">myntra</h2>
                            <p class="text-muted item-intro">Make it creative, make it fun and the Myntra Brand Team
                                will be listening.<br></p><img class="img-fluid d-block mx-auto"
                                src="https://thumbs.gfycat.com/CommonDismalAntelopegroundsquirrel-size_restricted.gif">
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-3">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image"
                                            src="https://entrackr.com/wp-content/uploads/2017/12/myntra-image-3.jpg">
                                    </div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://i.ytimg.com/vi/2o2uy1VYxus/maxresdefault.jpg"
                                            alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block"
                                            src="https://www.dealsshutter.com/uploads/social_images/stores/myntra-social-12-oct-1539335161.png"
                                            alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-3" role="button"
                                        data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
                                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                        href="#carousel-3" role="button" data-bs-slide="next"><span
                                            class="carousel-control-next-icon"></span><span
                                            class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Someone says ‘Oh, that dress is too bold’ ‘Are you sure you’re the right size for this?’
                                ‘Maybe you should pick a colour that suits you’ or ‘Act your age and wear something
                                else’, go ahead and do exactly what you please. When it comes to great style and
                                personal expression, there should never be any regrets.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Myntra Website<br></li>
                                <li><a target="_blank" href="https://www.myntra.com/"><button class="btn btn-primary"
                                            type="button"
                                            style="border-radius: 59px;color: var(--bs-white);background: var(--bs-pink);">Myntra</button></a>
                                </li>
                            </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i
                                    class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="padding-top: 20px;padding-bottom: 20px;text-align: center;background-color: #092f49;">
    <div >
      <div class="row">
          <div class="col-md-3"><span class="copyright text-muted">Copyright&nbsp;© CouponWala 2022</span></div>
          <div class="col-md-2">
              <ul class="list-inline social-buttons">
                  <li class="list-inline-item"><a href="https://github.com/m-Varun63" target="_blank"><i class="fa fa-github"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.facebook.com/varun.maheshwari.752" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/varun-maheshwari-b937801b6" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
         
      </div>
    </div>
  </footer>